body {
	background-color: #69A6C5;
}

.cust-container {
  padding: 19px 29px 29px;
  margin: 50px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.cust-container h1 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 30px;
}

.ui-dialog-buttonset {
	float: none !important; /*the jquery.css file kept overriding this specific style, so 
							  I had to make it !important so that it wouldn't overwrite it*/
	text-align: center;
}

.ui-dialog .ui-dialog-buttonpane button { 
	margin: .5em 1.5em; 
	 
}

table td {
	cursor: pointer;
}

#searchType {
	width: 125px;
}

#searchbar {
	width: 250px;
	margin: -10px 0 0 20px;
	color: #555555;
}

#id_search_button {
	margin: -10px 0 0 20px;
}

#id_newCust_button {
	margin-top: 25px;
}

#id_result_table {
	margin-top: 50px;
}

#dialog_customer_form {
	display: none;
}

#cust_form_container {
	padding-left: 25px;
}

#cust_form_container label, #cust_form_container input {
	display: inline-block;
}

#cust_form_container label {
	width: 120px;
	text-align: center;
}

#cust_form_container input {
	margin-right: 25px;
}

.field-row {
	display: inline-block;
	width: 370px;
	margin-top: 25px;	
}

.field-long-row {
	margin-top: 25px;
}

#custID {
	width: 75px;
}

#custHPhone, #custBPhone, #custCPhone {
	width: 172px;
}

#custProvince {
	width: 50px;
}

#custPCode {
	width: 100px;
}

#custRef {
	width: 585px;
}

#custNotes {
	height: 80px;
	width: 585px;
}
